body {
    background-color: rgb(159, 154, 154);
    color: rgb(0, 0, 0);
    font-family: Courier;
}

strong {
    display: inline-block;
    width: 200px
}

.skill {
    display: inline-block;
    width: 100px
}

.head-titles {
    font-size: 20px;
}